
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Outfit:wght@100;200;400;600&family=Poppins:wght@100;200;300;400;500&family=Roboto:wght@100;300;500;700&family=Ubuntu:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;   
    font-family: "Kode Mono", monospace;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5%;
    background-image: linear-gradient(to left, #8E7AB5, #B784B7, #E493B3);
}

.inputs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5%;
    padding: 5px;
}

span{
    font-weight: bold; 
    font-size: 16px;  
}

input{
   margin: 12px;
}

.footer {
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    font-size: 14px;
    margin-top: 0;
}

.footer a {
    color: #B5C0D0;
    font-weight: bold; 
    text-decoration: none;
}